extends layout
block content
  head
    h1= title
  body

    h3 Past 24 Hours License Count
    p= data.Past24HoursLicenseCount[0]

    h3 Account User License Count
    p= data.AccountUserLicenseCount[0]

    h3 Eval User License Count
    p= data.EvalUserLicenseCount[0]

    h3 Unique Account User License Count
    p= data.UniqueAccountUserLicenseCount[0]

    h3 Unique Eval User License Count
    p= data.UniqueEvalUserLicenseCount[0]

    h3 Top 3 Account Users
    .row
      .col-md-6
        table.table
          thead
            tr
              th First Name
              th Last Name
              th Account
              th Count
          tbody
            tr
              td= data.Top3AccountUsers[0].first_name
              td= data.Top3AccountUsers[0].last_name
              td= data.Top3AccountUsers[0].account_number
              td= data.Top3AccountUsers[0].count
            tr
              td= data.Top3AccountUsers[1].first_name
              td= data.Top3AccountUsers[1].last_name
              td= data.Top3AccountUsers[1].account_number
              td= data.Top3AccountUsers[1].count
            tr
              td= data.Top3AccountUsers[2].first_name
              td= data.Top3AccountUsers[2].last_name
              td= data.Top3AccountUsers[2].account_number
              td= data.Top3AccountUsers[2].count

    h3 Top 3 Eval Users
    .row
      .col-md-6
        table.table
          thead
            tr
              th First Name
              th Last Name
              th Count
          tbody
            tr
              td= data.Top3EvalUsers[0].first_name
              td= data.Top3EvalUsers[0].last_name
              td= data.Top3EvalUsers[0].count
            tr
              td= data.Top3EvalUsers[1].first_name
              td= data.Top3EvalUsers[1].last_name
              td= data.Top3EvalUsers[1].count
            tr
              td= data.Top3EvalUsers[2].first_name
              td= data.Top3EvalUsers[2].last_name
              td= data.Top3EvalUsers[2].count